{% extends 'booklog/index.html' %}
{% block content %}
<form method="POST">{% csrf_token %}
<div class="jumbotron">
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="title">제목</label>
      <input type="text" name="title" id="title" class="form-control-plaintext" value="{{ post.title }}"/>
    </div>
    <div class="form-group col-md-6">
      <label for="author">작가</label>
      <input type="text" name="author" id="author" class="form-control-plaintext" value="{{ post.author }}"/>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="publisher">출판사</label>
      <input type="text" name="publisher" id="publisher" class="form-control-plaintext" value="{{ post.publisher }}"/>
    </div>
    <div class="form-group col-md-6">
      <label for="pubdate">출간일</label>
      <input type="date" readonly name="pubdate" id="pubdate" class="form-control-plaintext" value="{{ post.pubdate|date:'Y-m-d' }}"/>
    </div>
  </div>
  <div class="form-group">
    <label for="review">감상평</label>
    <textarea class="form-control" name="review" id="review" rows="7">{{ post.review }}</textarea>
  </div>
</div>
<div class="buttonset">
  <a href="{% url 'post:detail' username=post.user.username pk=post.pk %}">
  <button type="submit" class="btn btn-secondary">취소</button>
  </a>
  <button type="submit" method="POST" class="btn btn-info">수정</button>
</div>
</form>
{% endblock %}
