{% extends 'booklog/index.html' %}
{% block content %}
  <h3 class="listtitle">{{ user.username }}님의 감상평</h3>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">책제목</th>
        <th scope="col">작가</th>
        <th scope="col">출판사</th>
        <th scope="col">감상평<th>
      </tr>
    </thead>
    <tbody>
      {% for post in post_list %}
      <tr>
        <td><a href="{% url 'post:detail' username=post.user.username pk=post.pk %}" data-pk="{{ post.pk }}" data-title="{{ post.title }}" data-author="{{ post.author }}" data-publisher="{{ post.publisher }}" data-pubdate="{{ post.pubdate|date:'Y-m-d' }}" data-review="{{ post.review }}" data-id="{{ post.pk }}" class="postdetail" href="#postdetail">{{ post.title }}</td>
        <td>{{ post.author }}</td>
        <td>{{ post.publisher}}</td>
        <td>{{ post.review|truncatechars:50 }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  {% if is_paginated %}
  <nav aria-label="Page navigation example">
    <ul class="pagination">
      {% if page_obj.has_previous %}
        <li class="page-item">
          <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
      {% else %}
      <li class="page-item">
      <a class="page-link" href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
      {% endif %}
      {% for i in paginator.page_range %}
        {% if page_obj.number == i %}
          <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
        {% else %}
          <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
        {% endif %}
      {% endfor %}
      {% if page_obj.has_next %}
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
      {% else %}
      <li class="page-item">
      <a class="page-link" href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
      {% endif %}
    </ul>
{% endif %}
{% endblock %}
