<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>BOOKLOG - *</title>
  <link rel="stylesheet" type="text/css" href="{% static 'booklog/css/sidebar.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'booklog/css/index.css' %}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</head>
<body>
<div class="container">
    <div class="headtitle">
      <a class="headtitle" href="{% url 'index' %}">BOOKLOG</a>
    </div>

    <!-- sidebar메뉴 -->
    <div class="row">
      <div class="sidebar col-md-2 col-xs-6">
        <div class="well">
          <ul class="sidebar-nav">
            {% if user.is_authenticated %}
               <li>
                   <a readonly>{{ user.username }}님</a>
               </li>
               <li>
                   <a href="{% url 'post:all' %}">내 감상평 보기</a>
               </li>
               <li>
                   <a href="{% url 'account:logout' %}">Log Out</a></li>
               </li>
            {% else %}
               <li>
                   <a href="{% url 'account:login' %}">Login</a>
               </li>
               <li>
                   <a href="{% url 'account:signup' %}">Sign Up</a>
               </li>
            {% endif %}
         </ul>
       </div>
    </div>
    <!-- body 시작 -->
   <div class= "main col-md-10 col-xs-6">
        <div class="well">
          <form action="{% url 'book:api_search' %}" method="GET" class="form-inline searchform">
            <input class="form-control mr-sm-2" type="text" name="q">
            <button class="btn btn-info my-2 my-sm-0" type="submit">책찾기</button>
          </form>
          {% block content %}
          {% endblock %}
        </div>
   </div>

   </div>
 </div>
</body>
</html>
